In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import pandas as pd
import os
from metpy.calc import wind_components
from metpy.units import units

In [8]:
aqaba = pd.read_csv('Datasets\\Aqaba.csv', parse_dates=["Date/Time"])
ghor = pd.read_csv('Datasets\\Ghor El Safi.csv')
irbid = pd.read_csv('Datasets\\Irbid.csv')
irwaished = pd.read_csv('Datasets\\Irwaished.csv')
maan = pd.read_csv('Datasets\\Maan.csv')
mafraq = pd.read_csv('Datasets\\Mafraq.csv')
amman = pd.read_csv('Datasets\\Queen Alia Airport copy.csv')
safawi = pd.read_csv('Datasets\\Safawi.csv')

In [ ]:
current = 'Aqaba'
df = aqaba.copy()
df = df.set_index("Date/Time")
df.head()

,Station,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Liquid Precipitation,Manual Present Weather,Cloud Type,Clouds Cover (Okta),Cloud Cover %,Snow Depth,Horizontal Visibility In m.,Wind Direction (Degrees),Wind Speed (MPS),Wind Type
Date/Time,,,,,,,,,,,,,,,
1961-07-01 06:00:00,OJAQ,15.0,32.200001,35.438288,1005.200012,NaN,State of sky on the whole unchanged,NaN,NaN,0.0,NaN,30000.0,360.0,6.2,normal
1961-07-01 12:00:00,OJAQ,11.1,40.000000,17.888504,1002.599976,NaN,State of sky on the whole unchanged,NaN,NaN,0.0,NaN,30000.0,360.0,5.1,normal
1961-07-02 06:00:00,OJAQ,16.1,31.100000,40.475878,1007.000000,NaN,State of sky on the whole unchanged,NaN,NaN,0.0,NaN,30000.0,360.0,8.2,normal
1961-07-02 12:00:00,OJAQ,13.9,38.900002,22.802816,1004.599976,NaN,State of sky on the whole unchanged,NaN,NaN,0.0,NaN,30000.0,360.0,6.2,normal
1961-07-03 12:00:00,OJAQ,12.8,36.099998,24.719797,1005.700012,NaN,State of sky on the whole unchanged,NaN,NaN,0.0,NaN,30000.0,360.0,5.1,normal

In [26]:
df.describe(include='object')

       Station Manual Present Weather Cloud Type Wind Type
count   279222                 118889      20829    275643
unique       1                     69         10         3
top       OJAQ                   Haze    cumulus    normal
freq    279222                  51417       7596    232562

In [27]:
df.describe()

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Liquid Precipitation,Clouds Cover (Okta),Cloud Cover %,Snow Depth,Horizontal Visibility In m.,Wind Direction (Degrees),Wind Speed (MPS)
count,276163.000000,276939.000000,275940.000000,117050.000000,35611.000000,65710.000000,279221.000000,1150.000000,240013.000000,232474.000000,275413.000000
mean,10.589859,25.295344,43.870714,1011.586069,0.395178,2.787399,8.199598,0.353043,8720.514685,281.687724,4.452048
std,6.189990,8.112797,18.742730,5.401395,12.730460,1.929355,18.850368,2.421377,2682.429493,124.996396,2.955942
min,-38.000000,-12.600000,0.998635,902.700012,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,6.000000,19.000000,29.755628,1007.500000,0.000000,2.000000,0.000000,0.000000,8000.000000,300.000000,2.600000
50%,10.400000,25.600000,41.267649,1011.299988,0.000000,2.000000,0.000000,0.000000,9900.000000,350.000000,4.100000
75%,15.000000,31.700001,55.401523,1015.400024,0.000000,4.000000,0.000000,0.000000,10000.000000,360.000000,6.200000
max,33.000000,48.000000,100.000000,1086.000000,999.000000,8.000000,100.000000,70.000000,80000.000000,360.000000,57.599998

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 279222 entries, 1961-07-01 06:00:00 to 2024-05-30 21:00:00
Data columns (total 15 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Station                      279222 non-null  object
 1   Air Dew Point                276163 non-null  float64
 2   Air Temperature (OC)         276939 non-null  float64
 3   Humidity %                   275940 non-null  float64
 4   Atmospheric Pressure         117050 non-null  float64
 5   Liquid Precipitation         35611 non-null   float64
 6   Manual Present Weather       118889 non-null  object
 7   Cloud Type                   20829 non-null   object
 8   Clouds Cover (Okta)          65710 non-null   float64
 9   Cloud Cover %                279221 non-null  float64
 10  Snow Depth                   1150 non-null    float64
 11  Horizontal Visibility In m.  240013 non-null  float64
 12  Wind Direction (Degrees)     232474 non-null  float64
 13  Wind Speed (MPS)             275413 non-null  float64
 14  Wind Type                    275643 non-null  object
dtypes: float64(11), object(4)
memory usage: 34.1+ MB

In [ ]:
df.drop(['Station', 'Manual Present Weather','Liquid Precipitation', 'Snow Depth', 'Clouds Cover (Okta)', 'Cloud Type', 'Wind Type','Cloud Cover %', 'Horizontal Visibility In m.'], axis=1, inplace=True)

In [30]:
for col in df.columns:
    df[col] = df.groupby(df.index)[col].transform(lambda x: x.ffill().bfill())
    
df = df[~df.index.duplicated(keep='first')]

In [31]:
for year in df.index.year.unique():
  print(f"Year: {year}")
  print("Unique Months:", np.sort(df[df.index.year == year].index.month.unique()))
  print("Unique Days:", np.sort(df[df.index.year == year].index.day.unique()))
  print("Unique Days of Week:", np.sort(df[df.index.year == year].index.dayofweek.unique()))
  print("Unique Hours:", np.sort(df[df.index.year == year].index.hour.unique()))
  print("-" * 20)

Year: 1961
Unique Months: [ 7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 6 12]
--------------------
Year: 1962
Unique Months: [1 2 3]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 6 12]
--------------------
Year: 1963
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 6  9 12 15]
--------------------
Year: 1964
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 6  9 12 15 18]
--------------------
Year: 1965
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 6  9 12 15 18]
--------------------
Year: 1966
Unique Months: [1 2 3 4 5]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 6  9 12 15 18]
--------------------
Year: 1973
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  6  9 12 15 18 21]
--------------------
Year: 1974
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18]
--------------------
Year: 1975
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  6  9 12 15 18]
--------------------
Year: 1976
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 15 18]
--------------------
Year: 1977
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 12 14 15 18 21 23]
--------------------
Year: 1978
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  5  6  9 12 13 15 17 18 19 21 23]
--------------------
Year: 1979
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  6  9 10 12 15 18 19 20 21 22]
--------------------
Year: 1980
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  6  9 12 13 15 18 21]
--------------------
Year: 1981
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  5  6  9 12 15 17 18 21 22]
--------------------
Year: 1982
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  6  8  9 10 11 12 14 15 18 21]
--------------------
Year: 1983
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  5  6  7  9 10 11 12 13 14 15 18 21]
--------------------
Year: 1984
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  5  6  9 10 11 12 14 15 17 18 21]
--------------------
Year: 1985
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  6  9 11 12 14 15 16 17 18 21]
--------------------
Year: 1986
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  5  6  9 12 15 17 18 21]
--------------------
Year: 1987
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  5  6  9 12 14 15 17 18 20 21]
--------------------
Year: 1988
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  5  6  7  9 10 11 12 13 14 15 16 18 21]
--------------------
Year: 1989
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  6  8  9 12 13 14 15 17 18 20 21 23]
--------------------
Year: 1990
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  5  6  9 10 11 12 13 14 15 17 18 21 22]
--------------------
Year: 1991
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  6  7  8  9 12 15 18 21]
--------------------
Year: 1992
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  6  9 12 14 15 18 19 21 22]
--------------------
Year: 1993
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  6  9 10 12 14 15 18 19 21]
--------------------
Year: 1994
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  5  6  7  8  9 10 11 12 13 14 15 18 21 22]
--------------------
Year: 1995
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 18 21 22 23]
--------------------
Year: 1996
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 1997
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]
--------------------
Year: 1998
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]
--------------------
Year: 1999
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2000
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2001
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2002
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2003
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2004
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2005
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2006
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2007
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2008
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2009
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2010
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2011
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2012
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2013
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2014
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2015
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2016
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2017
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2018
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2019
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2020
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2021
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2022
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2023
Unique Months: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------
Year: 2024
Unique Months: [1 2 3 4 5]
Unique Days: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Unique Days of Week: [0 1 2 3 4 5 6]
Unique Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
--------------------

In [32]:
df = df[df.index.year.isin(list(range(2000, 2024)))]

print(df.index.min())
print(df.index.max())

2000-01-01 00:00:00
2023-12-31 23:00:00

In [20]:
date_range = pd.date_range(start = df.index.min(),end =df.index.max(), freq="D")
missing_dates = date_range[~date_range.isin(df.index)]
missing_dates

DatetimeIndex(['2000-01-06', '2000-03-05', '2000-04-06', '2000-04-21',
               '2000-07-02', '2000-07-16', '2000-11-02', '2000-11-30',
               '2000-12-10', '2001-08-16',
               ...
               '2022-06-13', '2022-09-21', '2022-10-14', '2022-10-17',
               '2022-10-18', '2022-10-21', '2022-12-16', '2023-03-03',
               '2023-07-02', '2023-10-13'],
              dtype='datetime64[ns]', length=766, freq=None)

In [33]:
full_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='H')
df = df.reindex(full_range)
df.head()

C:\Users\hebay\AppData\Local\Temp\ipykernel_34048\114224145.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='H')

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Cloud Cover %,Horizontal Visibility In m.,Wind Direction (Degrees),Wind Speed (MPS)
2000-01-01 00:00:00,6.7,14.9,57.968356,1014.200012,0.0,10000.0,360.0,1.5
2000-01-01 01:00:00,7.0,15.0,58.794057,NaN,0.0,9900.0,NaN,0.0
2000-01-01 02:00:00,7.0,15.0,58.794057,NaN,0.0,9900.0,NaN,0.0
2000-01-01 03:00:00,6.5,15.2,56.084410,1013.900024,0.0,10000.0,360.0,1.5
2000-01-01 04:00:00,7.0,15.0,58.794057,NaN,0.0,9900.0,360.0,1.5

In [ ]:
df = df.ffill().bfill()
for column in df.columns:
  df[column] = df[column].interpolate(method='ffill')
  df[column] = df[column].interpolate(method='bfill')
df.head()

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Cloud Cover %,Horizontal Visibility In m.,Wind Direction (Degrees),Wind Speed (MPS)
2000-01-01 00:00:00,6.7,14.9,57.968356,1014.200012,0.0,10000.0,360.0,1.5
2000-01-01 01:00:00,7.0,15.0,58.794057,1014.200012,0.0,9900.0,360.0,0.0
2000-01-01 02:00:00,7.0,15.0,58.794057,1014.200012,0.0,9900.0,360.0,0.0
2000-01-01 03:00:00,6.5,15.2,56.084410,1013.900024,0.0,10000.0,360.0,1.5
2000-01-01 04:00:00,7.0,15.0,58.794057,1013.900024,0.0,9900.0,360.0,1.5

In [ ]:
u, v = wind_components(
    df['Wind Speed (MPS)'].values * units('m/s'),
    df['Wind Direction (Degrees)'].values * units.degree
)

df['Wind_U'] = u.magnitude  
df['Wind_V'] = v.magnitude

# OR the following, the above code is based on a specialaized library "metpy"

# df['Wind_U'] = -df['Wind Speed (MPS)'] * np.sin(np.radians(df['Wind Direction (Degrees)']))
# df['Wind_V'] = -df['Wind Speed (MPS)'] * np.cos(np.radians(df['Wind Direction (Degrees)']))
# df.Wind_U = df.Wind_U.round(2)
# df.Wind_V = df.Wind_V.round(2)
df.head()

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Wind Direction (Degrees),Wind Speed (MPS),Wind_U,Wind_V
2000-01-01 00:00:00,6.7,14.9,57.968356,1014.200012,360.0,1.5,3.673940e-16,-1.5
2000-01-01 01:00:00,7.0,15.0,58.794057,1014.200012,360.0,0.0,0.000000e+00,-0.0
2000-01-01 02:00:00,7.0,15.0,58.794057,1014.200012,360.0,0.0,0.000000e+00,-0.0
2000-01-01 03:00:00,6.5,15.2,56.084410,1013.900024,360.0,1.5,3.673940e-16,-1.5
2000-01-01 04:00:00,7.0,15.0,58.794057,1013.900024,360.0,1.5,3.673940e-16,-1.5

In [37]:
df.drop(['Wind Speed (MPS)', 'Wind Direction (Degrees)'], axis=1, inplace=True)
df.head()

,Air Dew Point,Air Temperature (OC),Humidity %,Atmospheric Pressure,Wind_U,Wind_V
2000-01-01 00:00:00,6.7,14.9,57.968356,1014.200012,3.673940e-16,-1.5
2000-01-01 01:00:00,7.0,15.0,58.794057,1014.200012,0.000000e+00,-0.0
2000-01-01 02:00:00,7.0,15.0,58.794057,1014.200012,0.000000e+00,-0.0
2000-01-01 03:00:00,6.5,15.2,56.084410,1013.900024,3.673940e-16,-1.5
2000-01-01 04:00:00,7.0,15.0,58.794057,1013.900024,3.673940e-16,-1.5

In [51]:
os.makedirs('Datasets-Ready', exist_ok=True)
os.chdir('Datasets-Ready')
df.to_csv(current+'_Ready.csv')
os.chdir('..')